body {
	background-color: #595959;
	margin:0px;
}
#topBanner{
	height: 50px;
}

#sistTilgjengelig{
	background-color: black;
	padding-top: 5px;
	padding-bottom: 1px
}

.filmBox {
	padding-left: 2px;
	margin-right: 0px;
	padding-bottom: 0px;
	}

.filmBox img {
	height: auto;
	width: 132px;
	padding-bottom: 0px;
	}
.venstrePil{

}
.hoyrePil{

}

.gjemt{
	display: none;
}






/*Skuespillersider*/
#tittelBlokk{

}

.skuespillerBlokk {
    display: flex;
    
}
.filmPoster{
 	float: left;

}

.filmPoster img{
	display: block;
}
.filmTittel{
	


}
.norskTittel{
	
}
.credits{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;


}

.credits li{
  margin-left: 30px;

}
.beskrivelse{
text-align: left;

}
.genre{

text-align: left;
}
.regi{

}
.skuespillerNavn{
   
};

