body {
	background-color: #595959;
	margin:0px;
}

#topBanner{
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ikon{
	display: flex;
	height: 50px;
	padding: 5px
}


.snurrFilm{
	background-color: black;
	padding: none;
}


#sistTilgjengelig{
	background-color: black;
	padding: none;
}

.filmBox {

	}

.filmBilde{
	max-height: 160px;
	max-width: 120px;
	vertical-align: bottom;
	}

.venstrePil{

}

.hoyrePil{

}

.gjemt{
	display: none;
}
.flex{
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.tekstLinjeForside{
	color:lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
}
.textLinjeForside h3{
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 100;
}


/*Skuespillersider*/
#tittelBlokk{

}

.skuespillerBlokk {
    display: flex;
    
}
.filmPoster{
 	float: left;

}

.filmPoster img{
	display: block;
}
.filmTittel{

}
.norskTittel{
	
}
.credits{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.credits li{
  margin-left: 30px;

}
.beskrivelse{
text-align: left;

}
.genre{

text-align: left;
}
.regi{

}
.skuespillerNavn{
   
};

