body {
	background-color: #595959;
	margin:0px;
}
#topBanner{
	height: 50px;
}

#sistTilgjengelig{
	background-color: black;
	padding-top: 5px;
	padding-bottom: 1px
}

.filmBox {
	padding-left: 2px;
	margin-right: 0px;
	padding-bottom: 0px;
	}

.filmBox img {
	height: auto;
	width: 132px;
	padding-bottom: 0px;
	}
.venstrePil{

}
.hoyrePil{

}

.gjemt{
	display: none;
}

/*Skuespillersider*/
.skuespillerBlokk {
    display: flex;
    height: 300px;
}
.filmPoster{

}
.filmTittel{
	float: right;
	text-align: left;

}
.norskTittel{
	float: right;
	text-align: left;
}
.credits{

}
.beskrivels
text-align: left;e{

}
.genre{

text-align: left;
}
.regi{

}
.skuespillerNavn{
   
};

